* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

/* Header */


header {
    height: 100vh;
    background-color: rgb(2, 1, 2);
    background-image: url(img/bg.jpg);
    background-position: -200px -100px;
    background-repeat: no-repeat;

    color: white;
}

header h1 {
    font-family: 'Source Sans Pro', sans-serif;    
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    color: white;

    padding: 60px 100px;
}

header div.left {
    width: 40%;
    position: absolute;
    top: 300px;
    left: 100px;
}

div.left p:nth-of-type(1) {
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 700;
    font-size: 70px;
    text-transform: capitalize;
    color: white;
    padding-bottom: 10px;
}

div.left p:nth-of-type(1) span {
    color: rgb(82, 187, 244);
}

div.left p:nth-of-type(2) {
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 400;
    font-size: 25px;
    text-transform: capitalize;
    color: white;
    padding-bottom: 50px;
}

div.left a {
    background-color: #fff;
    border: 1px solid white;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 600;
    font-size: 28px;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;

    padding: 10px 30px;
    transition: 0.3s;
}

div.left a:hover {
    color: #fff;
    background-color: #000;
}



div.right {
    float: right;
    margin: 0 60px;
}

div.right div.righttwo i {
    width: 55px;
    position: relative;
    top: 100px;
    margin: 0 0 60px 0;
    font-size: 20px;
    border: 2px solid #fff;
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

div.right div.righttwo i:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

div.right div.rightone i {
    position: relative;
    top: -140px;
    margin: 0 0 60px 0;
    font-size: 40px;
}